@model EncyclopediaOfHadiths.Models.NarratorsChain

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>NarratorsChain</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hadith)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hadith.HadithText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Narrator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Narrator.NarratorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NarratorLevelNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NarratorLevelNavigation.NarratorLevelId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NarratorsChainId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
