@model EncyclopediaOfHadiths.Models.Hadith

@{
    ViewData["Title"] =@Localizer["Hadiths details"];
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="title-right-rtl">
<h1>@Localizer["Hadiths details"]</h1>

<div>
    <h4>@Localizer["Full hadith details"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HadithNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HadithNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HadithText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HadithText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VocabsExplain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VocabsExplain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewTermId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewTermId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NarratorsChainId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NarratorsChainId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collection.CollectionAuthor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HadithType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HadithType.HadithTypeTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HadithId">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
</div>